:root {
  --text: #414141;
  --white: #ffffff;
  --blue: #93C5FD;

  --box-shadow: 0px 4px 10px 0px #dcdcdc;
}

p{
  line-height: 150%;
}

.button-default{
  margin-top: 1rem;
}

.button-default a{
  padding: .5rem 2rem;
  text-decoration: none;
  background: var(--blue);
  border-radius: 20px;
  color: var(--white);
}

.container {
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
  
	padding-right: 2rem;  
	padding-left: 2rem;
  
	position: relative;
	width: 100%;	
}

#wrapper {
  height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
  
  color: var(--text);
}

header{
  padding: .5rem 0;
	color: var(--white);
  display: flex;
}

header .navbar{
  display: flex;
	justify-content: space-between;
	align-items: center;

  flex-wrap: wrap;
}

header .navbar ul{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

header .navbar ul li a{
  text-decoration: none;
	color: var(--text);
	font-weight: 600;
}

header .navbar ul li a:hover{
  transition: .5s;
	color: var(--blue);
}

picture {
  line-height: 0;
}

#home{
  position: relative;
}

.title-xl{
  font-size: 2.618rem;
}

section.banner{
  line-height: 0;
  height: 600px;
  /* max-height: 600px; */
  position: relative;
}

section.banner img{
  width: 100%;
  height: 600px;
  /* height: 100%; */
  object-fit: cover;
  aspect-ratio: 1443 / 410;
  position: absolute;
  z-index: -1;
}

section.banner h1{
  font-family: "Bellefair";
  font-weight: normal;
}

section.banner h1{
  color: var(--white);
  line-height: 120%;
  font-size: 3rem;
  
}

section.banner .title{
  display: flex;
  align-items: center;
  padding-top: 20%;
}

section.banner .container{
  width: auto;
}

section.intro-therapies{
  height: auto;
  display: flex;
  align-items: flex-end;
  position: absolute;
  top: 24rem;
  z-index: 9;
  left: 0;
  right: 0;
}

section.intro-therapies hr{
  height: 100px;
  border-color: var(--blue);
}

section.intro-therapies .container > div{
  display: flex;
  gap: 1rem;
  background: var(--white);
  padding: 3rem;
  border-radius: 5px;
  
  box-shadow: var(--box-shadow);
  max-width: 992px;
  margin: 0 auto;

  position: relative;
  z-index: 9;
}

section.intro-therapies .intro {
  width: calc(100% / 3);
}

section.intro-therapies .intro .title{
  display: flex;
  gap: .5rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  font-size: 1.618rem;
}

section.intro-therapies .intro p{
  text-align: center;
}

section.about-me{
  position: relative;
}

section.about-me img.background-about{
  width: 100%;
  height: 100%;
  object-fit: cover;

  position: absolute;
  z-index: -1;
}

section.about-me .container{
  display: flex;
  gap: 4rem;
  align-items: center;
}

section.about-me .details h1{
  color: var(--blue);
  margin-bottom: 1.5rem;
}

section.about-me .details p{
  margin-bottom: 1rem;
}

section.about-me .container img{
  width: 100%;
  max-width: 500px;
}

section.list-therapies h1.title-xl{
  font-weight: bold;
  text-align: center;
}

section.list-therapies{
  margin: 5rem 0;
}

section.list-therapies .card h1{
  letter-spacing: 2px;
  font-size: 1.618rem;
  font-weight: bold;
  margin-bottom: 10px;
}

section.list-therapies .card{
  max-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.list-therapies .cards{
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  gap: 1rem;
}

@media screen and (min-width: 320px) {
  .container{
    max-width: 421px;
  }

  section.banner .title {
    padding-top: 50%;
  }

  section.intro-therapies .intro .title{
    font-size: 1.3rem;
  }

  section.intro-therapies .container > div{
    flex-wrap: wrap;
  }

  section.intro-therapies .intro{
    width: 100%;
  }

  section.intro-therapies hr{
    width: 100%;
    height: 0px;
    background-color: var(--blue);
    margin: 0;
    border-color: transparent;
  }
}

@media screen and (max-width: 576px) {
  section.intro-therapies .intro p,
  section.about-me .container .details p{
    font-size: .875rem;
  }

  section.intro-therapies .intro .title{
    font-size: 1rem;
  }

  section.intro-therapies .container > div{
    padding: 2rem;
  }

  
}

@media screen and (max-width: 768px) {
  section.about-me .container .details{
    margin-top: 18rem;
  }
}

@media screen and (min-width: 421px) {
  .container{
    max-width: 520px;
  }
}

@media screen and (min-width: 520px) {
  .container{
    max-width: 576px;
  }

  section.banner .title {
    padding-top: 35%;
  }
}

@media screen and (min-width: 576px) {
  .container{
    max-width: 768px;
  }
}


@media screen and (min-width: 768px) {
  .container{
    max-width: 990px;
  }

  section.intro-therapies .container > div {
    flex-wrap: nowrap;
  } 

  section.intro-therapies hr{
    height: 100px;
    border-color: var(--blue);
    background-color: transparent;
    width: 0;
  }

  section.intro-therapies{
    top: 26rem;
  }

  section.about-me .container .details{
    margin-top: 6rem;
  }
}

@media screen and (min-width: 992px) {
  .container{
    max-width: 1119px;
  }

  section.banner .title {
    padding-top: 20%;
  }
}

@media screen and (max-width: 1150px){
  section.about-me .container{
    flex-wrap: wrap ;
    width: auto;
    justify-content: center;
  }
}