:root {
  --text: #414141;
  --white: #ffffff;
  --blue: #93C5FD;

  --box-shadow: 0px 4px 10px 0px #dcdcdc;
}

html{
  scroll-behavior: smooth;
}

p{
  line-height: 150%;
}

.button-default,
.button-dark{
  margin-top: 1rem;
}

.button-default a{
  padding: .5rem 2rem;
  text-decoration: none;
  background: var(--blue);
  border-radius: 20px;
  color: var(--white);
  transition: .5s;
}

.button-default a:hover{
  background: #7FBBFF;
}

.button-dark a{
  padding: .5rem 2rem;
  text-decoration: none;
  background: var(--text);
  border-radius: 20px;
  color: var(--white);
  transition: .5s;
}

.container {
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
  
	padding-right: 2rem;  
	padding-left: 2rem;
  
	position: relative;
	/* width: 100%;	 */
  width: auto;
}

#wrapper {
  height: 100%;
	width: 100%;
  min-height: 100vh;
	display: flex;
	flex-direction: column;
  
  color: var(--text);
}

header{
  padding: .5rem 0;
	color: var(--white);
  display: flex;
}

header .container{
  width: 100%;
}

header .navbar{
  display: flex;
	justify-content: space-between;
	align-items: center;

  flex-wrap: wrap;
}

header .navbar ul{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

header .navbar ul li a{
  text-decoration: none;
	color: var(--text);
	font-weight: 600;
}

header .navbar ul li a:hover{
  transition: .5s;
	color: var(--blue);
}

picture {
  line-height: 0;
}

#home{
  position: relative;
}

.title-xl{
  font-size: 2.618rem;
  font-weight: 600;
}

section.banner{
  line-height: 0;
  height: 600px;
  /* max-height: 600px; */
  position: relative;
}

section.banner img{
  width: 100%;
  height: 600px;
  /* height: 100%; */
  object-fit: cover;
  aspect-ratio: 1443 / 410;
  position: absolute;
  z-index: -1;
}

section.banner h1{
  font-family: "Bellefair";
  font-weight: normal;
}

section.banner h1{
  color: var(--white);
  line-height: 120%;
  font-size: 3rem;
  
}

section.banner .title{
  display: flex;
  align-items: center;
  padding-top: 20%;
}

section.intro-therapies{
  height: auto;
  display: flex;
  align-items: flex-end;
  position: absolute;
  top: 24rem;
  z-index: 9;
  left: 0;
  right: 0;
}

section.intro-therapies hr{
  height: 100px;
  border-color: var(--blue);
}

section.intro-therapies .container > div{
  display: flex;
  gap: 1rem;
  background: var(--white);
  padding: 3rem;
  border-radius: 5px;
  
  box-shadow: var(--box-shadow);
  max-width: 992px;
  margin: 0 auto;

  position: relative;
  z-index: 9;
}

section.intro-therapies .intro {
  width: calc(100% / 3);
}

section.intro-therapies .intro .title{
  display: flex;
  gap: .5rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  font-size: 1.618rem;
}

section.intro-therapies .intro p{
  text-align: center;
}

section.about-me{
  position: relative;
}

section.about-me img.background-about{
  width: 100%;
  height: 100%;
  object-fit: cover;

  position: absolute;
  z-index: -1;
}

section.about-me .container{
  display: flex;
  gap: 4rem;
  align-items: center;

  padding-bottom: 4rem;
}

section.about-me .details h1{
  color: var(--blue);
  margin-bottom: 1.5rem;
}

section.about-me .details p{
  margin-bottom: 1rem;
}

section.about-me .container img{
  width: 100%;
  max-width: 500px;
}

section.list-therapies h1.title-xl,
section.courses h1.title-xl{
  font-weight: bold;
  text-align: center;

  margin-bottom: 4rem;
}

section.courses h1.title-xl{
  padding-top: 5rem;
}

section.list-therapies{
  padding: 5rem 0;
}

section.list-therapies.experiences{  
  background: #fafafa;
}

section.list-therapies .card h1{
  letter-spacing: 2px;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;

  width: 280px;
}

section.list-therapies .card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: transform 0.5s ease;
}

section.list-therapies .carousel{
  display: flex;
  align-items: center;
  justify-content: center;
}

section.list-therapies .carousel > img{
  cursor: pointer;
}

section.list-therapies .cards{
  display: flex;
  justify-content: center;
  width: 900px;
  height: 300px;
  overflow: hidden;
}

section.list-therapies .card.hidden{
  display: none;
}

section.list-therapies .prev.hidden,
section.list-therapies .next.hidden{
  visibility: hidden;
  opacity: 0;
}


section.courses{
  position: relative;
}

section.courses img.background-courses{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}

section.courses > img{
  border-radius: 200px 200px 0 0;
}

section.courses .list-courses {
  padding-bottom: 3rem;
}

section.courses .list-courses .course{
  display: flex;
  gap: 2rem;
  align-items: center;

  background: rgba(225, 225, 225, 30%);
  border-radius: 10px;
  margin-bottom: 1.25rem;
}

section.courses .list-courses .course img{
  border-radius: 10px 0 0 10px;
}

section.courses .list-courses .course.inverse img{
  border-radius: 0 10px 10px 0;
}

section.courses .list-courses .course .details h1{
  font-size: 1.875rem;
  margin-bottom: 2rem;
}

section.courses .list-courses .course .details{
  margin-right: 3rem;
}

section.courses .list-courses .course.inverse .details{
  margin-left: 3rem;
}

section.courses .list-courses .course .button-dark{
  margin-top: 3rem;
}

section.constellation-in-the-prison{
  padding: 5rem 0;
}

section.constellation-in-the-prison > div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

section.constellation-in-the-prison > div .details h1{
  margin-bottom: 1rem;
}

section.constellation-in-the-prison > div .details .button-dark{
  margin-top: 3rem;
}

section.constellation-in-the-prison .images{
  display: flex;
  gap: 1rem;
}

section.constellation-in-the-prison .images img{
  border-radius: 20px;
  box-shadow: var(--box-shadow);
}

footer{
  box-shadow: var(--box-shadow);
}

footer > div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .social-media{
  display: flex;
  gap: 1rem;
  align-items: center;
}

footer .social-media > div{
  display: flex;
  align-items: center;
  gap: .3rem;
}

footer .social-media > div a{
  color: var(--text);
  text-decoration: none;
}

#page section.intro{
  height: 700px;
  /* max-height: 700px; */
  position: relative;
}

#page section.intro .details{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  padding-top: 10%;
  width: 50%;
}

#page section.intro .details h1{
  line-height: 1.5;
  font-weight: 400;
  font-size: 4rem;
  letter-spacing: 14px;
}

#page section.intro .details p{
  font-size: 1.5rem;
}

#page section.intro > img{
  width: 100%;
  height: 100%; 
  object-fit: cover;
  position: absolute;
  z-index:-1;
  max-height: 700px;
}

#page section.infos{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 3.125rem;
}

#page section.infos .info{
  max-width: 350px;
  width: 100%;
  background: #FAFAFA;
  border-radius: 20px;
  padding: 24px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#page section.infos .info h1{
  margin-top: 1rem;
  color: var(--blue);
  font-size: 1.2rem;
}

#page section.infos .info p{
  margin-top: 1rem;
  font-size: 0.875rem;
  text-align: center;
}

/* media queries */
@media screen and (max-width: 1135px) {
  section.courses .list-courses .course .details h1{
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1058px) {
  #courseInverse{
    flex-direction: column-reverse;
  }

  section.courses .list-courses .course{
    flex-wrap: wrap;
    justify-content: center;
  }

  section.courses .list-courses .course img,
  section.courses .list-courses .course.inverse img{
    border-radius: 10px;

    max-width: 350px;
    width: 100%;
  }

  section.courses .list-courses .course .details,
  section.courses .list-courses .course.inverse .details{
    text-align: center;
    margin: 0 5rem 2rem 5rem;
  }

  
}

@media screen and (max-width: 421px) {
  .carousel {
    position: relative;
    width: 280px;
    margin: 0 auto;
  }

  .prev,
  .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .prev {
    left: 0;
    margin-left: 1.5rem;
  }

  .next {
    right: 0;
    margin-right: 1.5rem;
  }

  .prev,
  .next{
    background: white;
    border-radius: 100%;
  }

  section.courses .list-courses .course img, section.courses .list-courses .course.inverse img{
    max-width: 100%;
    border-radius: 10px 10px 0 0;
  }

  section.courses > img {
    border-radius: 50px 50px 0 0;
  }

  section.constellation-in-the-prison > div .images img{
    width: 100%;
  }
}

@media screen and (max-width: 520px){
  section.courses .list-courses .course .details, 
  section.courses .list-courses .course.inverse .details{
    margin: 0 1rem 2rem 1rem!important;
  }

  section.courses > img{
    border-radius: 100px 100px 0 0;
  }
}

@media screen and (max-width: 576px) {
  section.intro-therapies .intro p,
  section.about-me .container .details p{
    font-size: .875rem;
  }
  
  section.intro-therapies .intro .title{
    font-size: 1rem;
  }
  
  section.intro-therapies .container > div{
    padding: 2rem;
  }
}

@media screen and (max-width: 640px) {
  section.constellation-in-the-prison > div .images{
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  section.about-me .container .details{
    margin-top: 18rem;
  }

  section.courses .list-courses .course .details, section.courses .list-courses .course.inverse .details{
    margin: 0 2rem 2rem 2rem;
  }
}

@media screen and (max-width: 1150px){
  section.about-me .container{
    flex-wrap: wrap ;
    justify-content: center;
  }
}

@media screen and (max-width: 1175px){
  section.constellation-in-the-prison > div{
    flex-wrap: wrap;
    gap: 3rem;
  }

  section.constellation-in-the-prison > div .details{
    text-align: center;
  }
}


@media screen and (min-width: 320px) {
  .container{
    max-width: 421px;
  }

  section.banner .title {
    padding-top: 50%;
  }

  section.intro-therapies .intro .title{
    font-size: 1.3rem;
  }

  section.intro-therapies .container > div{
    flex-wrap: wrap;
  }

  section.intro-therapies .intro{
    width: 100%;
  }

  section.intro-therapies hr{
    width: 100%;
    height: 0px;
    background-color: var(--blue);
    margin: 0;
    border-color: transparent;
  }
}

@media screen and (min-width: 421px) {
  .container{
    max-width: 520px;
  }
}

@media screen and (min-width: 520px) {
  .container{
    max-width: 576px;
  }

  section.banner .title {
    padding-top: 35%;
  }
}

@media screen and (min-width: 576px) {
  .container{
    max-width: 768px;
  }
}

@media screen and (min-width: 768px) {
  .container{
    max-width: 990px;
  }

  section.intro-therapies .container > div {
    flex-wrap: nowrap;
  } 

  section.intro-therapies hr{
    height: 100px;
    border-color: var(--blue);
    background-color: transparent;
    width: 0;
  }

  section.intro-therapies{
    top: 26rem;
  }

  section.about-me .container .details{
    margin-top: 6rem;
  }
}

@media screen and (min-width: 992px) {  
  .container{
    max-width: 1119px;
  }

  section.banner .title {
    padding-top: 20%;
  }
}
